Options -Indexes
ErrorDocument 404 /MTP/filenotfound.html
ErrorDocument 403 /MTP/forbidden.html
#Redirect /MTP http://localhost/xampp

#AuthName "Resticted Area"
#AuthType Basic
#AuthBasicProvider file
#AuthUserFile /home/harsh/.htpasswd
#AuthDBMUserFile /home/harsh/PhpWork/.htpasswd
#Require valid-user

#<Files "/MTP/create-website.php">
  #Require valid-user
#</Files>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /MTP/
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^addpages/([0-9]+)$ add-pages.php?website_id=$1
RewriteRule ^login$ index.php
RewriteRule ^websites$ create-website.php
RewriteRule ^log-out$ logout.php
RewriteRule ^upload$ upload-file.php
RewriteRule ^seo$ seo-settings.php
RewriteRule ^set_home_page/([0-9]+)$ set-home-page.php?website_id=$1
RewriteRule ^preview/([0-9]+)/([0-9]+)$ websitepreview.php?website_id=$1&pageurlid=$2



#RewriteBase /MTP/
#
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^addpages/([0-9]+)$ add-pages.php?website_id=$1&rew [L]

#RewriteCond %{QUERY_STRING} ^website_id=([0-9]+)$
#RewriteRule ^addpages.php$ addpages/%1? [R,L]